<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xle.mapper.UserMapper">

    <select id="login" parameterType="String" resultType="com.xle.pojo.User">
        SELECT * from user where username=#{username} and password=#{password} and type=#{type}
    </select>

    <select id="selectByCondition" parameterType="String" resultType="com.xle.pojo.User">
        SELECT * from user WHERE type ='1'
        <if test="value != null and value.length > 0">
            and(sid like '%${value}%' or name like '%${value}%')
        </if>
    </select>
    
    <insert id="addUser" parameterType="com.xle.pojo.User">
        insert into user values
        (#{sid},#{name},#{sex},#{major},#{clazz},#{username},#{password},#{type})
    </insert>

    <select id="findByUsername" parameterType="String" resultType="com.xle.pojo.User">
        select * from user where username=#{username}
    </select>

    <update id="updateUser" parameterType="com.xle.pojo.User">
        update user
        <set>
            <if test="sid != null">
                sid = #{sid},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="major != null">
                major = #{major},
            </if>
            <if test="clazz != null">
                clazz = #{clazz},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        where username = #{username}
    </update>

    <delete id="deleteUser" parameterType="String">
        delete from user where username=#{username}
    </delete>

    <update id="changePassword" parameterType="HashMap">
        update user set password=#{password} where username=#{username}
    </update>

</mapper>